/* 首页-全部-container */

.cell:nth-child(1) {
    border-top: none;
}
.cell {
    position: relative;
    padding: 10px 0 10px 10px;
    font-size: 14px;
    padding-right: 10px;
    background: #fff;
    overflow: hidden;
    border-top: 1px solid #f0f0f0;
}
/* 左浮动 */
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
/* 头像 */
.user_avatar img{
    width: 30px;
    height: 30px;
    border-radius: 3px;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}
/* 数值 */
.cell .reply_count{
    width: 70px;
    /* line-height: 30px; */
    vertical-align: middle;
    display: inline-block;
    text-align: center;
}
.cell .count_of_replies{
    color: #9e78c0;
}
.cell .count_seperator{
    margin: 0 3px;
    font-size: 10px;
}
.cell .count_of_visits{
    font-size: 10px;
    color: #b4b4b4;
}
/* 右侧头像及时间 */
.last_time{
    font-size: 11px;
    display: inline-block;
    margin-left: 20px;
}
.last_time .user_small_avatar{
    height: 18px;
    width: 18px;
    vertical-align: middle;
    margin-right: .5em;
    border-radius: 3px;
}
.last_time .last_active_time{
    text-align: right;
    min-width: 50px;
    display: inline-block;
    white-space: nowrap;
    color: #778087;
}
.topic_title_wrapper{
    text-overflow: ellipsis;
    margin-left: 50px;
}
.topiclist-tab{
    padding:2px 4px;
}
.topic_title{
    max-width: 70%;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    line-height: 30px;
    color: #888;
}
/* 分页 */
.pagination{
    height: 45px;
}
.pagination ul{
    width: 420px;
    height: 45px;
    margin-left: 50px;
    border:1px solid #ccc;
    border-radius: 2px;
   
}
.pagination ul li{
    width: 40px;
    line-height: 45px;
    float: left;
    border-left:1px solid #ccc;
    list-style: none;
    text-align: center;
}